<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcode Site</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <nav class="navbar">
        <div class="logo">BarcodeSite</div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/scan">Scan Barcode</a></li>
            <li><a href="/generate">Generate Barcode</a></li>
        </ul>
    </nav>

    <h1 class = "title">Barcode Scanner & Generator</h1>
        <p class = "subtitle">
            This website allows you to decode barcodes from images
            and generate new barcodes from text using a public REST API.
        </p>

        <ul class = "features">
            <li>Upload an image to scan a barcode</li>
            <li>Generate a barcode from your own text</li>
            <li>Uses HTTP requests and REST APIs</li>
        </ul>

</body>
</html>